PAGESPEED_API_KEY=your_pagespeed_api_key_here
GOOGLE_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----\n"
GSC_SITE_URL=https://nouncompass.me/
